<!-- src/views/realTimeProducts.handlebars -->
{{> navbar }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <form id="productForm">
        <label for="name">Nombre del Producto:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required><br>

        <label for="stock">Cantidad de Stock:</label>
        <input type="number" id="stock" name="stock" required><br>

        <label for="category">Tipo de Producto:</label>
        <input type="text" id="category" name="category" required><br>

        <button type="submit">Agregar Producto</button>
    </form>
    <ul id="productList">
        {{#each products}}
        <li>{{this.name}} - ${{this.price}} - Stock: {{this.stock}} - Tipo: {{this.category}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        // Escuchar eventos de nuevo producto
        socket.on('update-products', (product) => {
            const productList = document.getElementById('productList');
            const newProduct = document.createElement('li');
            newProduct.id = `product-${product.id}`;
            newProduct.innerText = `${product.name} - $${product.price} - Stock: ${product.stock} - Tipo: ${product.category}`;
            productList.appendChild(newProduct);
        });

        // Escuchar eventos de eliminación de producto
        socket.on('remove-product', (productId) => {
            const productElement = document.getElementById(`product-${productId}`);
            if (productElement) {
                productElement.remove();
            }
        });

        document.getElementById('productForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const data = new FormData(this);
            const newProduct = {
                name: data.get('name'),
                price: data.get('price'),
                stock: data.get('stock'),
                category: data.get('category'),
            };
            socket.emit('newProduct', newProduct);
        });
    </script>
</body>
</html>
