<h1>Carrito de Compras</h1>

{{#if cart.products.length}}
<div class="cart">
    <ul>
        {{#each cart.products}}
        <li class="product">
            <h2>{{this.product.name}}</h2>
            <p>Price: ${{this.product.price}}</p>
            <p>Quantity: {{this.quantity}}</p>
        </li>
        {{/each}}
    </ul>
</div>
{{else}}
<p>El carrito está vacío.</p>
{{/if}}

<a href="/products">Volver a productos</a>
