<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/home">Productos</a></li>
            <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
        </ul>
    </nav>
</header>
