<header>
    <nav>
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/realtimeproducts">Agregar productos</a></li>
            <li><a href="/cart">Carrito</a></li> <!-- Added link to cart page -->
        </ul>
    </nav>
</header>
