
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Asegúrate de que este archivo CSS existe si lo necesitas -->
</head>
<body>
    <!-- Aquí se insertarán las vistas específicas -->
    {{{body}}}
</body>
</html>
